<button type="button" #login_btn class="btn login_btn" (click)="openModalDialog()">Login</button>
<button style="visibility: hidden" type="button" #logout_btn class="btn" (click)="logOutUser()">Logout</button>
<!-- <div class="backdrop" [ngStyle]="{'display':display}"></div> -->

<!-- modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <!-- modal-dialog -->
    <div class="modal-dialog" role="document">
        <!-- modal-content -->
        <div class="modal-content">
            <!-- modal-header -->
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span
                        aria-hidden="true">&times;</span></button>
            </div>

            <!-- modal-body -->
            <div class="modal-body">
                <form [formGroup]="logedInForm" (ngSubmit)="mdfLogin(logedInForm.value)">
                    <div class="login_container">
                    <div class="row">
                        <label class="col-md-4">Email</label>
                        <input type="text" class="textbox col-md-8" name="emailId" placeholder="Email" formControlName="emailId">
                    </div>
                    <div class="row">
                            <label class="col-md-4">Password</label>
                        <input type="password" class="textbox col-md-8" name="password" placeholder="password"
                            formControlName="password">
                    </div>
                    <div class="row submit_row">
                        <input type="submit" class="btn col-md-12 submit_btn" value="Sign in" [disabled]="!logedInForm.valid">
                    </div>
                </div>
                </form>
            </div>

            <!-- modal-footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeModalDialog()">Close</button>
            </div>
        </div>
    </div>
</div>